@font-face {
    font-family: 'Red_hat_text';
    font-weight: 400;
    src: url('./assets/fonts/RedHatText-Regular.ttf'); 
  }
@font-face {
    font-family: 'Red_hat_text';
    font-weight: 500;
    src: url('./assets/fonts/RedHatText-Regular.ttf');
}
@font-face {
    font-family: 'Magra';
    font-weight: 600;
    src: url('./assets/fonts/Magra-Regular.ttf');
  }
@font-face {
    font-family: 'Aleo';
    font-weight: 400;
    src: url('./assets/fonts/Aleo-Regular.ttf');
  }
@font-face {
    font-family: 'Aleo';
    font-weight: 700;
    src: url('./assets/fonts/Aleo-Bold.ttf');
  }
* {
    box-sizing: border-box;
  }