  @font-face {
    font-family: 'Red Hat Text';
    font-weight: 500;
    src: url('./assets/fonts/RedHatText-Regular.ttf'); 
  }

  @font-face {
    font-family: 'Magra';
    font-weight: 600;
    src: url('./assets/fonts/Magra-Regular.ttf');
  }
  @font-face {
    font-family: 'Aleo';
    font-weight: 400;
    src: url('./assets/fonts/Aleo-Regular.ttf');
  }
    
  @font-face {
      font-family: 'Aleo';
      font-style: italic;
      font-weight: 400;
      src: url('./assets/fonts/Aleo-Italic.ttf');
  }
   @font-face {
    font-family: 'Aleo';
    font-weight: 700;
    src: url('./assets/fonts/Aleo-Bold.ttf');
  }

  * {
    box-sizing: border-box;
  }

  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

  .header_wrapper {
    position: relative;
    background-color: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    align-items: center;
    height: 90px;
    width: 100%;
  }

  .header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 42px;
  }

  .header_nav_list {
    list-style: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }

  .logo {
    width: 216px;
    height: 31px;
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
  }

  .button {
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: 0px;
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }

  .preview {
    background-image: url('./assets/img/garrett-parker-DlkF4-dbCOU-unsplash1.jpg');
    height: 765px;
    margin-top: -90px;
  }

  .plan_your_trip {
    padding-top: 122px;
    width: 892px;
    height: 422px;
  }

  .title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
  }

  .title_text {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .planning_form {
    width: 892px;
    height: 95px;
  }

  .start_planning {
    background: #0D606F;
    width: 228px;
    height: 59px;
    border: 0px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    border-radius: 10px;
  }

  .planning_form_search {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border: 0px;
    color: #F2785C;
    background-color: rgba(0, 0, 0, 0);
  }

  .planning_form_search::placeholder {
    color: #F2785C;
  }

  .perfect_trip {
    display: flex;
  }

  .steps_pic {
    background-color: #F2785C;
    border-radius: 10%;
    width: 100px;
    height: 100px;
  }

  .pic1 {
    background-image: url('./assets/img/bike.svg');
    background-size: 50px 45px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .pic2 {
    background-image: url('./assets/img/calendar.svg');
    background-size: 50px 45px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .pic3 {
    background-image: url('./assets/img/plane.svg');
    background-size: 50px 45px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .carousel {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .destination_radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 3px;
}

.radio__input {
    position: absolute;
    appearance: none;
}

.radio__box {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    transition: all 0.2s ease;
    cursor: pointer;
}

.radio__input:checked + .radio__box {
    
    background-color: #F2785C;
}

.find {
    background: #0D606F;
    border: 0px;
    border-radius: 10px;
    width: 228px;
    height: 59px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}