  @font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/RedHatText-Medium.ttf');
  }

  @font-face {
    font-family: 'Magra';
    font-weight: 600;
    src: url('./assets/fonts/Magra-Bold.ttf');
  }

  @font-face {
    font-family: 'Aleo';
    font-weight: 400;
    src: url('./assets/fonts/Aleo-Regular.ttf');
  }

  @font-face {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    src: url('./assets/fonts/Aleo-BoldItalic.ttf');
  }

  @font-face {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/Aleo-Italic.ttf');
  }

  @font-face {
    font-family: 'Aleo';
    font-weight: 700;
    src: url('./assets/fonts/Aleo-Bold.ttf');
  }

  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }

  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

  .header_wrapper {
    position: relative;
    background-color: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    align-items: center;
    height: 90px;
  }

  .header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
  }

  .header_nav_list {
    list-style: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding-right: 42px;
  }

  .nav_list {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
  }

  .nav_list_inactive {
    display: none;
  }

  .nav_list:hover {
    color: #0D606F;
    cursor: pointer;
  }

  .header-burger {
    display: none;
    width: 26px;
    height: 16px;
    position: relative;
  }

  .burger-line {
    display: block;
    width: 100%;
    height: 2.6px;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 3px;
  }

  .burger-line-first {
    top: 0;
  }

  .burger-line-second {
    top: 50%;
    transform: translateY(-50%);
  }

  .burger-line-third {
    bottom: 0;
  }

  .logo {
    font-family: 'Magra';
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
  }

  .button {
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: 0px;
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition: 0.5s;
  }

  .button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .preview_background {
    background-image: url('./assets/img/garrett-parker-DlkF4-dbCOU-unsplash1.jpg');
    height: 765px;
    margin-top: -90px;
  }

  .plan_your_trip {
    padding-top: 122px;
    padding-left: 120px;
  }

  .title {
    margin: 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
  }

  .title_text {
    margin-top: 32px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .topic {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #F2785C;
  }

  .planning_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
    width: 892px;
    height: 95px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
  }

  .start_planning_button {
    margin-right: 18px;
  }

  .start_planning {
    background: #0D606F;
    width: 228px;
    height: 59px;
    border: 0px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    border-radius: 10px;
    transition: 0.5s;
  }

  .start_planning:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .planning_form_search {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border: 0px;
    color: #F2785C;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 41px;
  }

  .planning_form_search::placeholder {
    color: #F2785C;
  }

  .perfect_trip {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 132px;
  }

  .steps {
    margin-top: 80px;
  }

  .steps_text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin-top: 30px;
  }

  .steps_pic {
    background-color: #F2785C;
    border-radius: 16px;
    width: 100px;
    height: 100px;
  }

  .steps_pics:nth-child(2) {
    padding-left: 70px;
  }

  .pic1 {
    background-image: url('./assets/img/bike.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }

  .pic2 {
    background-image: url('./assets/img/calendar.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }

  .pic3 {
    background-image: url('./assets/img/plane.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }

  .destinations {
    margin-top: 96px;
  }

  .carousel {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 48px;
  }

  .country_pic {
    border-radius: 16px;
  }

  .destination {
    position: relative;
  }

  .destination_country {
    position: absolute;
    left: 15px;
    bottom: 44px;
    font-family: 'Red Hat Text';
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
  }

  .destination_radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 3px;
    margin-top: 19px;
    left: 677px;
  }

  .radio__input {
    position: absolute;
    appearance: none;
  }

  .radio__box {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .radio__input:checked+.radio__box {

    background-color: #F2785C;
  }

  .find_more {
    margin-top: 36px;
    width: 228px;
    margin-left: auto;
    margin-right: auto;

  }

  .find {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 31px;
    background: #0D606F;
    border: 0px;
    border-radius: 10px;
    width: 228px;
    height: 59px;
    font-family: 'Red Hat Text';
    font-size: 24px;
    color: #FFFFFF;
    transition: 0.5s;
  }

  .find:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .stories {
    margin-top: 81px;
  }

  .story_img img {
    display: block;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #0d606f;
    max-width: 100%;
    height: auto;
  }

  .travel_stories_background {
    height: 1270px;
    background: rgba(255, 255, 255, 0.7);
  }

  .travel_stories {
    margin-top: 40px;
    height: 1331px;
    background: url(./assets/img/Rectangle33.jpg);
  }

  /*.travel_stories_description {
    display: flex;
    flex-flow: column;
}*/

  .travel_stories_title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    margin: 0;
  }

  .travel_stories_description {
    padding-left: 40px;
  }

  .travel_stories_text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin: 0;
    margin-top: 23px;
  }

  .read_more {
    font-family: 'Aleo';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
  }

  .story {
    display: flex;
    padding: 0 120px;
    margin-top: 30px;
  }

  .story:nth-child(1) {
    padding-top: 40px;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: -60px;
    justify-content: flex-end;
    padding-right: 120px;
    height: 60px;
    gap: 270px;
  }

  .copyright {
    font-family: 'Red Hat Text';
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }

  .social-list {
    display: flex;
    align-items: center;
  }

  .social-item {
    padding-left: 21px;
    list-style: none;
    transition: 0.5s;
  }

  .social-item:hover {
    filter: invert(16%) sepia(65%) saturate(138%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }

  /*media start*/
  @media screen and (max-width:390px) {

    * {
      box-sizing: border-box;
    }

    .wrapper {
      max-width: 390px;
      margin: 0 auto;
    }

    .header-burger {
      display: block;
    }

    .company_name {
      display: none;
    }

    .header_login {
      display: none;
    }

    .header_wrapper {
      background-image: url(assets/img/garrett-parker-DlkF4-dbCOU-unsplash2.jpg);
      box-shadow: none;
      padding: 0 24px;
      padding-top: 26px;
    }

    .nav {
      position: fixed;
      height: 100vh;
      top: 0;
      right: 0;
      z-index: 10;
      transform: translateX(100%);
      transition: .2s all linear;
    }

    .nav_list_inactive {
      display: block;
    }

    .nav-active {
      transform: translateX(0);
      width: 165px;
      height: 250px;
      background: #F2785C;
      box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
      border-radius: 10px;
    }

    .nav-close {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 11;
    }

    .nav-close-line {
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: #E5E5E5;
      position: absolute;
      top: 50%;
    }

    .nav-close-line:first-child {
      transform: translateY(-50%) rotate(45deg);
    }

    .nav-close-line:last-child {
      transform: translateY(-50%) rotate(-45deg);
    }

    .header_nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-top: 40px;
      margin-right: -25px;
    }

    .preview_background {
      background-image: url(assets/img/garrett-parker-DlkF4-dbCOU-unsplash2.jpg);
      background-repeat: no-repeat;
      height: 390px;
  }
   
    .title {
      display: none;
    }

    .title_text {
      display: none;
    }

    .plan_your_trip {
      padding-left: 15px;
    }

    .planning_form {
      padding: 0;
      width: 360px;
      height: 48px;
      margin-top: 20px;
    }

    .start_planning {
      width: 92px;
      height: 30px;
      background: #0D606F;
      box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
      font-size: 11px;
      line-height: 15px;
      margin-right: -10px;
    }

    .planning_form_search {
      font-size: 14px;
      line-height: 17px;
      color: #F2785C;
      padding-left: 16px;
    }


  }